<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group6.kb_50.marketaid" >

    <!-- Permissions for using internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Permissions for using GPS location and WiFi location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--Not needed, one permission less for the user: <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Permissions for browsing images -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission android:protectionLevel="signature"
        android:name="group6.kb_50.marketaid.permission.C2D_MESSAGE" />
    <uses-permission android:name="group6.kb_50.marketaid.permission.C2D_MESSAGE" />

    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/faalicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Seller.SellerEditProductActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Seller.SellerCreateAccountActivity"
            android:label="@string/title_activity_seller_create" >
        </activity>
        <!-- Leave the following label to "app_name": the Icon @ home screen uses this label. Change the title in MainScreenActivity.java -->
        <activity
            android:name=".MainScreenActivity"
            android:label="@string/app_name" >
            <intent-filter
                        android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Buyer.BuyerProductActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Buyer.BuyerFilterActivity"
            android:label="@string/title_activity_buyer_filter" >
        </activity>
        <activity
            android:name=".Seller.SellerLoginActivity"
            android:label="@string/title_activity_seller_login" >
        </activity>
        <activity
            android:name=".Seller.SellerMainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Buyer.BuyerMainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Buyer.CommentActivity"
            android:label="@string/commentButton">
        </activity>


        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="group6.kb_50.marketaid" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
