<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group6.kb_50.marketaid" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddProductActivity"
            android:label="@string/title_activity_add_product" >
        </activity>
        <activity
            android:name=".ShowProductsActivity"
            android:label="@string/title_activity_show_products" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".MainScreenActivity"
            android:label="@string/title_activity_main_screen" >
        <!--    <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".MainHowToActivity"
            android:label="@string/title_activity_how_to" >
        </activity>
        <activity
            android:name=".BuyerMainActivity"
            android:label="@string/title_activity_buyer_main" >
        </activity>
        <activity
            android:name=".BuyerProductActivity"
            android:label="@string/title_activity_buyer_product" >
        </activity>
        <activity
            android:name=".BuyerFilterActivity"
            android:label="@string/title_activity_buyer_filter" >
        </activity>
        <activity
            android:name=".SellerLoginActivity"
            android:label="@string/title_activity_seller_login" >
        </activity>
        <activity
            android:name=".SellerCreateAccountActivity"
            android:label="@string/title_activity_create_seller" >
        </activity>
        <activity
            android:name=".SellerMainActivity"
            android:label="@string/title_activity_seller_main" >
        </activity>
        <activity
            android:name=".SellerAddActivity"
            android:label="@string/title_activity_seller_add" >
        </activity>
    </application>

</manifest>
