<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group6.kb_50.marketaid" >

    <!-- Permissions for using internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Permissions for using GPS location and WiFi location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Seller.SellerEditProductActivity"
            android:label="@string/title_activity_edit_product" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".MainScreenActivity"
            android:label="@string/title_activity_main_screen" >

            <!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".MainHowToActivity"
            android:label="@string/title_activity_how_to" >
        </activity>
        <activity
            android:name=".Buyer.BuyerProductActivity"
            android:label="@string/title_activity_buyer_product" >
        </activity>
        <activity
            android:name=".Buyer.BuyerFilterActivity"
            android:label="@string/title_activity_buyer_filter" >
        </activity>
        <activity
            android:name=".Seller.SellerLoginActivity"
            android:label="@string/title_activity_seller_login" >
        </activity>
        <activity
            android:name=".Seller.SellerMainActivity"
            android:label="@string/title_activity_seller_main" >
        </activity>
        <activity
            android:name=".Seller.SellerAddActivity"
            android:label="@string/title_activity_seller_add" >
        </activity>
        <activity
            android:name=".Buyer.BuyerMainActivity"
            android:label="@string/title_activity_buyer_main" >
        </activity>
    </application>

</manifest>
